<%= form_for @event do |f| %>

  <input type="text" data-provide='datepicker' name="event[date]" id="event_date" placeholder = "Укажите дату">

  <div class="time">
    <%= f.text_area :time, placeholder: "Введите время" %>
  </div>

    <%= f.submit "Создать", class: "btn btn-primary" %>
<% end %>


<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker();
    });
</script>