
  <%= form_for @event do |f| %>
<!--
    <input type="text" data-provide='datepicker' name="event[date]" id="event_date" placeholder="Укажите дату" class = "form-group form-control">

    <div class="input-append bootstrap-timepicker">
      <input name="event[time]" id="timepicker" type="text" class="input-small form-group form-control" placeholder = "Введите время">
      <span class="add-on"><i class="icon-time"></i></span>
    </div>
-->

    <%= f.submit "Создать", class: "btn btn-primary" %>

  <% end %>


<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker();
        $('#timepicker').timepicker();
    });
</script>