<h1>Каналы</h1>
<table>
  <% @mediums.each do |medium| %>
      <tr>
        <th><%= medium.id %></th>
        <th><%= medium.title %></th>
        <th><%= medium.visitors.count %></th>
        <th><%= medium.activities_proceeds %></th>
      </tr>
  <% end %>
</table>