<h1>Каналы</h1>
<table class="table-bordered table-hover mediums">
  <tr>
    <th>ID</th>
    <th>Наименование канала</th>
    <th>Количество посетителей</th>
    <th>Суммарная выручка</th>
  </tr>
  <% @mediums.each do |medium| %>
      <tr>
        <th><%= medium.id %></th>
        <th><%= medium.title %></th>
        <th><%= medium.visitors.count %></th>
        <th><%= medium.activities_proceeds %></th>
      </tr>
  <% end %>
</table>